@import url(https://fonts.googleapis.com/css?family=Edu+NSW+ACT+Foundation);

.intro{
  position: fixed;
  top:0;
  left:0;
  background-color: #dfba76;
  width: 100%;
  height:100%;
  z-index: 200;
  display: flex;
  justify-content: center;
}

#cup{
  width: 180px;
  height: 140px;
  border: 6px solid white;
  position: absolute;
  top: 35%;
  border-radius: 8px 8px 70px 70px;
  background-image: url(../Coffee.svg);
  background-repeat: repeat-x;
  background-position: 0px 140px;
  animation: fill 3s forwards;
  box-shadow: 0px 0px 0px 8px wheat;
}

#handle{
  width: 50px;
  height: 80px;
  border: 8px solid white;
  position: absolute;
  left: 100%;
  border-radius: 0px 20px 70px 0px;
}

@keyframes fill{
  from{
    background-position: 0px 140px;
  }
  to{
    background-position: 0px 0px;
  }
}

@keyframes intro-anim{
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: -200;
  }
}


body {
  margin: 0px;
  cursor: none;
}

.item:hover .overlay {
  opacity: 0.3;
}

.item{
  position: relative;
}

.imageContainer {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 100px;
  overflow: hidden;
  cursor: none;
  justify-content: center;
  align-items: center;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5%;
}

.overlay {
  top: 0;
  bottom: 0;
  opacity: 0;
  width: 300px;
  height: 300px;
  position: absolute;
  transition: 1s ease;
  background-color: cornsilk;
  z-index: 100;
  cursor: none;
}


.cursor {
  position: absolute;
  width: 10px;
  height: 10px;
  border-color: rgb(69, 69, 69);
  border-radius: 50%;
  border-width: 2px;
  border-style: groove;
}

.heading {
  display: flex;
  justify-content: center;
  padding: 50px;
  font-size: 22px;
  color: grey;
}

p {
  width: 10%;
  text-align: center;
  font-family: Edu NSW ACT Foundation;
}

p:hover {
  transform: scale(3);
}

.imageContainer:hover ~ .cursor {
  animation: cursorAnimation 3s infinite;
}

@keyframes cursorAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

